PORT=

# MongoDB Atlas DB Connection String:
MONGODB_URI=

# CORS Origin
CORS_ORIGIN=

# Session Credentials
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=

# Cloudinary ⬇️
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=